* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #3e1515;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #835156;
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
    font-size: 12px;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}

.profile .profile-image {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-top-right-radius: 25%;
}

.name {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
}

.profession {
    color: #826f6f;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1.5em;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    color: #826f6f;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 1.5rem;
}

.contact-info ul {
    padding-top: 1.5rem;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    color: #eeeeee;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 10px;
    color: #eeeeee;
}

.skills ul {
    padding-top: 1.5rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: #eeeeee;
}

.right-section-contents {
    color:#826f6f;
    font-size: 12px;
    padding: 2rem 2rem;
}

.right-title {
    color: #3e1515;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 12px;
    color: #eeeeee;
    line-height: 1rem;
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    color: #F1F8FD;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    color: #c79494;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 15px;
    padding-bottom: 1.5rem;
}

.exp-position,
.education-subject,
.awards-name {
    color: #c79494;
    font-size: 15px;
    text-transform: uppercase;
}

.exp-description,
.education-desc,
.awards-desc {
    font-size: 13px;
    padding-left: 5px;
    line-height: 1rem;
    border-left: 2px solid #c79494;
    padding-left: 5px;
}